---
all:
  children:
    initial_controller:
      hosts:
        contr:
    worker:
      hosts:
        worker1:
        worker2:
  hosts:
    contr:
      ansible_host: {{ contr_vm_private_ip.stdout }}
    worker1:
      ansible_host: {{ worker1_vm_private_ip.stdout }}
    worker2:
      ansible_host: {{ worker2_vm_private_ip.stdout }}
  vars:
    ansible_user: {{ ansible_user }}
    k0s_version: {{ k0s_version }}
    k0s_use_custom_config: true
    fqdn: {{ contr_vm_public_name.stdout }}
