Host *
    User {{ ansible_user }}
    IdentityFile ~/.ssh/id_rsa
    Port 22
    StrictHostKeyChecking no
    VerifyHostKeyDNS no
    TCPKeepAlive yes
    ServerAliveInterval 30
    ForwardAgent yes

Host c {{ contr_vm_private_ip.stdout }}
    Hostname {{ contr_vm_public_name.stdout }}
    User {{ ansible_user }}
    IdentityFile ~/.ssh/aws
    UserKnownHostsFile /dev/null

Host w1 {{ worker1_vm_private_ip.stdout }}
    Hostname {{ worker1_vm_private_ip.stdout }}
    User {{ ansible_user }}
    IdentityFile ~/.ssh/aws
    ProxyCommand ssh {{ contr_vm_public_name.stdout }} -i ~/.ssh/aws -W %h:%p
    UserKnownHostsFile /dev/null

Host w2 {{ worker2_vm_private_ip.stdout }}
    Hostname {{ worker2_vm_private_ip.stdout }}
    User {{ ansible_user }}
    IdentityFile ~/.ssh/aws
    ProxyCommand ssh {{ contr_vm_public_name.stdout }} -i ~/.ssh/aws -W %h:%p
    UserKnownHostsFile /dev/null
